/git-training
/github-clone

# Виртуальные окружения
venv/
.venv/
env/
ENV/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# Дирректория проекта

/project_simple_logging
/training_week_4/project_simple_logging/